@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<div>

    <h2>Instructions</h2>

    <div>
        <p>Choose an animal and then 'Start the Game'. Step through a series of question and answering scenarios with the computer until the answer is found.</p>
    </div>


    <h2>Technologies Utilised</h2>
    <div>
        <ul>
            <li>Visual Studio 2017</li>
            <li>ASP.NET Core</li>
            <li>Angular 1.65</li>
            <li>Bootstrap</li>
            <li>Angular Bootstrap</li>
            <li>Azure for Hosting</li>
        </ul>
    </div>

</div>
