@{
    ViewBag.Title = "Home";
}
@section Scripts {


    <script>

        var clientHtmlAppName = "app-guess-the-animal";

    </script>


    <environment names="Development, Staging, Production">
        <script src="~/app/app.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/directives.js"></script>

        <script asp-src-include="~/app/models/**/*.js"></script>
        <script asp-src-include="~/app/pages/**/*.js"></script>

    </environment>



}

<div data-ng-app="app-guess-the-animal">

    <div ui-view></div>
</div>



